<div class="row">
    <div class="col-xs-9 col-sm-9 col-md-9  col-lg-9">
        <h5>为{$role.name}设置权限</h5>
    </div>
</div>
<hr/>
<div class="row">
    <div class="form-horizontal access_set_wrap" role="form">
        <div class="form-group">

            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                这里是权限列表
                {notempty name="access_list"}
                {volist name="access_list" id="vo"}
                <input type="checkbox" name="access_ids[]" value="{$vo.id}" {in name="$vo.id" value="$related_access_ids"} checked="checked" {/in} > {$vo.title}
                {/volist}
                {/notempty}
            </div>
        </div>
        <div class="col-xs-6 col-xs-offset-2 col-sm-6 col-sm-offset-2 col-md-6  col-md-offset-2 col-lg-6 col-sm-lg-2 ">
            <input type="hidden" name="id" value="{$role? $role['id'] : ''}"/>
            <button type="button" class="btn btn-primary pull-right  save">确定</button>
        </div>
    </div>
</div>

<script type="text/javascript">
    var access_set_ops = {
        init:function(){
            this.eventBind();
        },
        eventBind:function(){
            $(".access_set_wrap .save").click( function(){


                var access_ids = [];
                $(".access_set_wrap input[name='access_ids[]'").each(function(){
                    if($(this).prop("checked")){
                        access_ids.push($(this).val());
                    }
                });

                $.ajax({
                    url:"{:url('role/access')}",
                    type:'POST',
                    data:{
                        id:$(".access_set_wrap input[name='id']").val(),
                        access_ids:access_ids
                    },
                    dataType:'json',
                    success:function( res ){
                        alert( res.msg );
                        if( res.code == 200 ){
                            window.location.href = "{:url('role/index')}";
                        }
                    }
                });
            });
        }
    };
    $(document).ready(function(){
        access_set_ops.init();
    });
</script>